@charset "utf-8";
.layui-form-pane .layui-form-radio, .layui-form-pane .layui-form-switch {
    margin-top: 0rem;
    margin-left: 0rem;
}
.layui-form-radio {
    line-height: 28px;
    margin: 0rem 0rem;
    padding-right: 0rem;
    cursor: pointer;
    font-size: 0;
}
.layui-input-block {
    min-height: 45px;
}
.layui-table-page .layui-laypage {
    margin-top: 0.28rem;
}
.layui-table-page>div {
    height: 3rem;
    width: 100%;
    background-color: #e6e6e6;
}
.layui-table-page {
    position: relative;
    width: 100%;
    padding: 0rem;
    height: 41px;
    font-size: 12px;
    white-space: nowrap;
}
.footer {
    background-color: cadetblue;
    margin-left: 12.5rem;
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.container {
    position: relative;
    width: 96%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.layui-layout-admin .layui-body {
    position: fixed;
    top: 50px;
    bottom: 44px;
}
